.q-field--outlined
  .q-field__control
    border-radius: 50px
    background: var(--color-primary-light)
    padding: 0 20px

  .q-field__label
    color: var(--color-gray)

  .q-field__control:before,
  .q-field__control:after
    border: none